Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40013/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40013/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40013/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:40013/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestMessage">
    <wsdl:part name="parameters" element="tns:RequestMessage" />
  </wsdl:message>
  <wsdl:message name="StreamMessage">
    <wsdl:part name="parameters" element="tns:StreamMessage" />
  </wsdl:message>
  <wsdl:message name="StreamMessage_Headers">
    <wsdl:part name="description" element="tns:description" />
    <wsdl:part name="fileName" element="tns:fileName" />
  </wsdl:message>
  <wsdl:message name="IService1_uploadFile_OutputMessage" />
  <wsdl:message name="IService1_getFiles_InputMessage" />
  <wsdl:message name="AllFilesMessage">
    <wsdl:part name="parameters" element="tns:AllFilesMessage" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="downloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/downloadFile" name="RequestMessage" message="tns:RequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/downloadFileResponse" name="StreamMessage" message="tns:StreamMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/uploadFile" name="StreamMessage" message="tns:StreamMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/uploadFileResponse" message="tns:IService1_uploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFiles" message="tns:IService1_getFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFilesResponse" name="AllFilesMessage" message="tns:AllFilesMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="downloadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/downloadFile" style="document" />
      <wsdl:input name="RequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StreamMessage">
        <soap:header message="tns:StreamMessage_Headers" part="description" use="literal" />
        <soap:header message="tns:StreamMessage_Headers" part="fileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/uploadFile" style="document" />
      <wsdl:input name="StreamMessage">
        <soap:header message="tns:StreamMessage_Headers" part="description" use="literal" />
        <soap:header message="tns:StreamMessage_Headers" part="fileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <soap:operation soapAction="http://tempuri.org/IService1/getFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AllFilesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:40013/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>